<div id="copyright"><br/></div>

<link rel="stylesheet" type="text/css" href="/stylesheets/debug.css">
<div class="debug"></div>
<script>
    $(document).ready(function () {
        init("<%= title %>")
    });
</script>
</body>
</html>
