
<img class="qr-donate invert" src="/images/donate.png" alt="Support us to make it better" hidden>

<div id="copyright"><br/></div>

<link rel="stylesheet" type="text/css" href="/stylesheets/debug.css">
<div class="debug"></div>

</body>
</html>
