<% include header_m.ejs %>

<nav id="topbar" class="navbar navbar-inverse">
    <div class = "navbar-brand" href = "#" style="float: left; width: 15%">
        <span class="moreBtn">
            <span class="page" id="page-l"></span>
            <span class="page" id="page-m"></span>
            <span class="page" id="page-r"></span>
        </span>
    </div>
    <span class="title">
        MyDorm
    </span>
    <div class = "navbar-brand" href = "#" style="float: right;width: 15%; margin-right: 0px;">
        <div class = "clock" style="display: none">
            <div class = "dial"></div>
            <div class = "minute"></div>
            <div class = "hour"></div>
        </div>
        <div class="clock-dig">
            <div class="hour"></div>
            <div class="minute"></div>
            <style></style>
        </div>
    </div>
</nav>

<div id="list">
    <ul class="list-group">
        <li class="list-group-item">&nbsp;<div></div><a href="#">Watching</a></li>
        <li class="list-group-item">&nbsp;<div></div><a href="#">Control</a></li>
        <li class="list-group-item">&nbsp;<div></div><a href="#">Message</a></li>
        <li class="list-group-item">&nbsp;<div></div><a href="#">Schedule</a></li>
        <li class="list-group-item">&nbsp;<div></div><a href="#">Leisure</a></li>
        <li class="list-group-item">&nbsp;<div></div><a href="#">About</a></li>
    </ul>
    <div class="city"></div>
</div>


<div id="display">
    <% for (var i = 0; i < 5.0; ++i) { %>
    <p><%= i %></p>
    <% } %>
</div>

<% include footer.ejs %>
