<% include header.ejs %>

<script>
    (
            function(){
                var ua=navigator.userAgent.toLowerCase();
                var bIsIpad=ua.match(/ipad/i)=="ipad";
                var bIsIphoneOs=ua.match(/iphone os/i)=="iphone os";
                var bIsAndroid=ua.match(/android/i)=="android";
                var bIsWM=ua.match(/windows mobile/i)=="windows mobile";
                if((bIsIpad||bIsIphoneOs||bIsAndroid||bIsWM)){
                    window.location.href="/m"
                }
            }
    )();
</script>

<h1>
    PC 端页面还没写好呐!
</h1>
<h2>
    拿手机看呗~
</h2>

<% include footer.ejs %>