<% include header_m.ejs %>

<nav id="topbar" class="navbar navbar-inverse">
    <div class = "navbar-brand" href = "#" style="float: left; width: 15%">
        <span class="moreBtn">
            <span class="page" id="page-l"></span>
            <span class="page" id="page-m"></span>
            <span class="page" id="page-r"></span>
        </span>
    </div>
    <span class="title">
        MyDorm
    </span>
    <div class = "navbar-brand" href = "#" style="float: right;width: 15%; margin-right: 0px;">
        <div class = "clock" style="display: none">
            <div class = "dial"></div>
            <div class = "minute"></div>
            <div class = "hour"></div>
        </div>
        <div class="clock-dig">
            <div class="hour"></div>
            <div class="minute"></div>
            <style></style>
        </div>
    </div>
</nav>

<div id="list">
    <ul class="list-group">
        <li class="list-group-item">&nbsp;<div></div><a href="#">Watching</a></li>
        <li class="list-group-item">&nbsp;<div></div><a href="#">Control</a></li>
        <li class="list-group-item">&nbsp;<div></div><a href="#">Message</a></li>
        <li class="list-group-item">&nbsp;<div></div><a href="#">Schedule</a></li>
        <li class="list-group-item">&nbsp;<div></div><a href="#">Leisure</a></li>
        <li class="list-group-item">&nbsp;<div></div><a href="#">About</a></li>
    </ul>
    <div class="city"></div>
</div>


<div id="display">

    <div id="welcome">
        <div class="logo"></div>

        <div class="notebook-sm show-right">
            <div class='screen'></div>
            <div class='keyboard'></div>

            <div class="desc">
                <!--div id="l1">$ brew install</div>
                <div id="l2">&nbsp;&nbsp;&nbsp;<b>Girlfriend</b></div>
                <div id="l3">Error: No avai</div-->
                <div id="l1"></div>
                <div id="l2"></div>
                <div id="l3"></div>
            </div>
        </div>


        <div class="coffee-sm show-right">
            <div class="steam"></div>
            <div class="steams"></div>
            <div class="cup"></div>
            <div class="ear"></div>
            <div class="plate"></div>
        </div>


        <div class="guitar-sm show-left">
            <div class="guitar-head"></div>
            <div class="guitar-neck">
                <% var top = 144 %>
                <% var dis = [7, 7, 7, 6, 6, 5, 5, 5, 5, 4, 4, 4, 4, 3, 3, 3, 3, 3, 3, 3, 3] %>
                <% for (var f = 1; f <= 21; ++f) { %>
                <% top += dis[f - 1] %>
                <div class="fret fret-<%= f %>" style="top: <%= top %>px; width: 10px; left: -1px;"></div>
                <% } %>
            </div>
            <div class="guitar-string">
                <div class="turning">
                    <div class="turning l e"></div>
                    <div class="turning l a"></div>
                    <div class="turning l d"></div>
                    <div class="turning r g"></div>
                    <div class="turning r b"></div>
                    <div class="turning r e-h"></div>
                </div>
                <div class="string">
                    <div class="string e"></div>
                    <div class="string a"></div>
                    <div class="string d"></div>
                    <div class="string g"></div>
                    <div class="string b"></div>
                    <div class="string e-h"></div>
                </div>
                <div class="pin">
                    <div class="pin e"></div>
                    <div class="pin a"></div>
                    <div class="pin d"></div>
                    <div class="pin g"></div>
                    <div class="pin b"></div>
                    <div class="pin e-h"></div>
                </div>
            </div>
            <div class="guitar-body">
                <div class="shoulder"></div>
                <div class="middle"></div>
                <div class="bottom"></div>
                <div class="empty-l"></div>
                <div class="empty-r"></div>
                <div class="bridge"></div>
            </div>
        </div>

        <div style="width: 100%; text-align: center;">
            <button type="button" class="btn btn-sm btn-default">
                Sign in
            </button>
        </div>
    </div>

    <% for (var i = 0; i < 5.0; ++i) { %>
    <p><%= i %></p>
    <% } %>
</div>

<% include footer.ejs %>
