<!DOCTYPE html>
<html lang = "zh-CN">
	<head>
		<meta charset = "utf-8">
        <title>MyBlog - {% block title_name %}{% endblock %}</title>
        <!--link rel = "stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"-->
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/res/css/main_setting.css">
	</head>
	<body style = "background-color: #ececef">
        
        <nav class = "navbar navbar-inverse navbar-fixed-top" style="opacity:0.95">
            <div class = "col-md-1"></div>
            <div class = "col-md-8">
            <a class = "navbar-brand" href = "{% url 'home' %}">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                &nbsp;&nbsp;
            </a>
            <a class = "navbar-brand" href = "{% url 'block_index' %}">
                &nbsp;版块列表&nbsp;
            </a>
            <a class = "navbar-brand" href = "{% url 'novel_list' %}">
                &nbsp;小说书架&nbsp;
            </a>
            </div>
            <div class = "col-md-3">
                {% block user_tag %}
                {% endblock %}
            </div>
        </nav>
                          
        {% block bodybegin %}
        {% endblock %}
        <br />
        <div class = "container">
            <div class = "row">
                <div class = "col-md-2"></div>
                <div class = "col-md-8">
                    <div style = "opacity:0.8;background-color: #ececef; color: #102; font-family: 'Droid Serif',Georgia,'Times New Roman',STHeiti,serif;">
                        <span style="float:right">
                            {% block breadcrumb %}
                            {% endblock %}
                        </span>
                        <left><h1 style="font-size:72px;">&nbsp;MyBlog</h1></left>
                    <h3 style = "font-style: italic; color: #999">&nbsp;&nbsp;&nbsp;A Softech's Blog</h3>
                    <hr/>
                    </div>
                    {% block content %}
		            {% endblock %}
                    
                </div>
                <div class = "col-md-2"></div>
            </div>
        </div>
        {% block bodyend %}
        {% endblock %}
	</body>
</html>
