body {
    transition: all 0.5s ease-in-out;
}

.navbar {
    opacity:0.95;
    margin-bottom: 0px;
    z-index: 3;
}

.navbar-inverse a.navbar-brand {
    color: #ccc;
    font-size: 20px;
    background-color: transparent;
    border-radius: 0px;
    border-bottom: 1px solid transparent;

    transition-property: color, font-size;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}
.navbar-inverse a.navbar-brand:hover {
    color: #9d9d9d;
    font-size: 22px;
}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #9d9d9d;
}

.title {
    color: #ccc;
    width: 70%;
    text-align: center;
    font-size: 28px;
    margin-bottom: 0px;
    position: absolute;
    float: left;
    top: 0px;
    line-height: 50px;
}

.moreBtn {
    width: 25px;
    height: 30px;
    background-color: transparent;
    float: left;
    margin-top: -5px;
    position: relative;
    perspective: 10px;
}

.moreBtn .page {
    width: 18px;
    height: 20px;
    display: block;
    background-color: #ccc;
    /*border:#000 solid;
    border-width: 13px 8px 7px 16px;*/
    box-shadow: 1px 1px 3px #000;
    border-radius:1.5px;
    position: absolute;
    opacity: 0.9;

    transition: all 0.5s ease-in-out;
}

.moreBtn #page-l {
    left: 0px;
    top: 1px;
    z-index: 3;
}
.moreBtn #page-m {
    left: 3px;
    top: 5px;
    z-index: 2;
}
.moreBtn #page-r {
    left: 6px;
    top: 9px;
    z-index: 1;
}

.page-rotate {
    height: 12px !important;
    width: 21px !important;
    transform-origin:center center 0;
    transform: rotate3d(1,0,0,15deg);
}

.page-l-rotate {
    left: 2px !important;
    top: 0px !important;
}
.page-m-rotate {
    left: 2px !important;
    top: 7px !important;
}
.page-r-rotate {
    left: 2px !important;
    top: 14px !important;
}

.clock {
    width: 25px;
    height: 25px;
    top: -2px;
    right: 0px;
    background-color: transparent;
    position: relative;
    float: right;
}

.clock .dial {
    background-color: #ccc;
    width: 24px;
    height: 24px;
    border: 2px #000 solid;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #fff;
    position: absolute;
}
.clock .dial:after {
    z-index: 1;
    content: "";
    background-color: #333;
    width: 1px;
    height: 1px;
    border: 1px #222 solid;
    border-radius: 100%;
    box-shadow: 0px 0px 1px #000;
    position: absolute;
    top: 9px;
    left: 9px;
}

.clock .minute {
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: transparent;
    transform:rotate(120deg)
}
.clock .minute:after {
    content: "";
    width: 0px;
    height: 9px;
    left: 11px;
    border: 1px #77f solid;
    border-radius:1px;
    top: 2px;
    position: absolute;
}
.clock .hour {
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: transparent;
    transform:rotate(160deg)
}
.clock .hour:after {
    content: "";
    width: 0px;
    height: 6px;
    border: 1px #000 solid;
    border-radius: 100%;
    left: 11px;
    top: 5px;
    position: absolute;
}

.clock-dig {
    font-size: 15px;
    width: 25px;
    height: 30px;
    float: right;
    text-align: center;
    margin-top: -5px;
    line-height: 15px;
    letter-spacing: 0px;
    border: #666 solid;
    border-width: 0px 1px;
    position: relative;
}
.clock-dig:before {
    content: "";
    width: 25px;
    height: 30px;
    left: -1px;
    top: 0px;
    border: #bbb solid;
    border-width: 0px 0px 0px 2px;
    position: absolute;
}

.clock-dig:after {
    content: "";
    width: 25px;
    height: 30px;
    left: -1px;
    top: 0px;
    border: #bbb solid;
    border-width: 0px 2px 0px 0px;
    position: absolute;
}

.darkBg {
    background-color: #000 !important;
}

#list {
    display: none;
    margin: auto;
    width: 100%;
}

.list-group {
    border-width: 0px;
    width: 90%;
    margin: auto;
    margin-bottom: 1000px;

    transition: margin-bottom 0.3s ease-in-out;
}

.list-group-item {
    background-color: transparent;
    color: #ddd;
    font-size: 18px;
    border-color: transparent;

    transition: all 0.3s ease-in-out;
}

.list-group-item div {
    float: left;
    background-color: #fff;
    background: linear-gradient(to right, #ddf 0%,#000 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -1;
    opacity: 0.5;

    transition: all 0.3s ease-in-out;
}

.list-group-item a {
    color: #ddd;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    float: left;
    width: 90%;
}
a:focus, a:hover, a:active {
    text-decoration: none;
    color: #fff;
}


.city {
    background: url(/images/city.gif);
    background-color: transparent;
    background-size:100% 100%;
    background-repeat:no-repeat;
    width: 100%;
    bottom: 0px;
    float: left;
    left: 0px;
    filter: invert(1);
    -webkit-filter: invert(1);
    margin-top: 50px;
}

#copyright {
    font-size: 5px;
    color: #999;
    background: transparent;linear-gradient(to bottom, #000 0%,#000 100%);
    opacity: 0.9;
    text-align: center;
    line-height: 150%;
    width: 100%;
    z-index: 0;
    bottom: 10px;
    position: absolute;
}

#copyright:before {
    content: "Designed by Leo Bai, Tongji University.";
}

#copyright:after {
    content: "Copyright © 2016-2016 Softech. All Rights Reserved.";
}

#welcome {
    width: 100%;
    /*height: 205px;
    position: relative;
    */
    height: 100%;
    background-color: #334;
}

.logo {
    width: 150px;
    height: 60px;
    margin: auto;
    position: relative;
}

.logo:before {
    content: '305';
    width: 100%;
    height: 60px;
    font-family: 'Comic Sans MS', cursive;
    font-size: 40px;
    letter-spacing: 5px;
    color: #eee;
    position: absolute;
    text-align: center;
    border: 2px #eee solid;
    border-radius: 15px;
    background-color: transparent;
}


.tip {
    width: 100%;
    height: 60px;
    margin: 0 auto;
    position: relative;
    color: #ccc;
    line-height: 100%;
    top: 15px;
    font-size: 30px;
    text-align: center;
}

.btn-sm {
    border: 1px #222 solid;
    border-radius: 5px;
    position: relative;
    margin: auto;
    float: inherit;
    width: 80px;
}

.desc {
    float: right;
    left: 18px;
    top: 10px;
    color: #4a4;
    position: absolute;
    font-size: 12px;
    line-height: 100%;
}

#watching {
    width: 100%;
    /*height: 205px;
    position: relative;*/
    height: 100%;
    background-color: #000;
}

.guitar-sm {
    bottom: calc(5% + 121px);
    left: 34px;
}

.table-sm {
    top: -10px;
}

.notebook-sm {
    top: -74px;
}

.coffee-sm {
    top: -32px;
}

.logo {
    top: 0px;
}

.stuff-on-top {
    top: calc(15% + 90px);
    position: relative;
}


.wall {
    width: 100%;
    height: calc(195% - 30px);
    position: absolute;
    top: -100%;
    border: solid;
    border-color: #667 #445;
    border-width: 0px 0px 12px 32px;
}

.guitar-thick {
    margin-left: 1px;
    margin-bottom: 1px;

    opacity: 0.5;
}
.guitar-thick .guitar-body {
    margin-left: 2px;
    margin-top: -1px;
}
.guitar-thick .guitar-string,
.guitar-thick .guitar-head:after,
.guitar-thick .guitar-neck .fret,
.guitar-thick .guitar-body .bottom:before
{
    display: none;
}