.page-rotate {
    height: 12px !important;
    width: 21px !important;
    transform-origin:center center 0;
    transform: rotate3d(1,0,0,15deg);
}

.page-l-rotate {
    left: 2px !important;
    top: 0px !important;
}
.page-m-rotate {
    left: 2px !important;
    top: 7px !important;
}
.page-r-rotate {
    left: 2px !important;
    top: 14px !important;
}

.clock {
    width: 25px;
    height: 25px;
    top: -2px;
    right: 0px;
    background-color: transparent;
    position: relative;
    float: right;
}

.clock .dial {
    background-color: #ccc;
    width: 24px;
    height: 24px;
    border: 2px #000 solid;
    border-radius: 100%;
    box-shadow: 0px 0px 5px #fff;
    position: absolute;
}
.clock .dial:after {
    z-index: 1;
    content: "";
    background-color: #333;
    width: 1px;
    height: 1px;
    border: 1px #222 solid;
    border-radius: 100%;
    box-shadow: 0px 0px 1px #000;
    position: absolute;
    top: 9px;
    left: 9px;
}

.clock .minute {
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: transparent;
    transform:rotate(120deg)
}
.clock .minute:after {
    content: "";
    width: 0px;
    height: 9px;
    left: 11px;
    border: 1px #77f solid;
    border-radius:1px;
    top: 2px;
    position: absolute;
}
.clock .hour {
    width: 24px;
    height: 24px;
    position: absolute;
    background-color: transparent;
    transform:rotate(160deg)
}
.clock .hour:after {
    content: "";
    width: 0px;
    height: 6px;
    border: 1px #000 solid;
    border-radius: 100%;
    left: 11px;
    top: 5px;
    position: absolute;
}

.clock-dig {
    font-size: 15px;
    width: 25px;
    height: 30px;
    float: right;
    text-align: center;
    margin-top: -5px;
    line-height: 15px;
    letter-spacing: 0px;
    border: #666 solid;
    border-width: 0px 1px;
    position: relative;
}
.clock-dig:before {
    content: "";
    width: 25px;
    height: 30px;
    left: -1px;
    top: 0px;
    border: #bbb solid;
    border-width: 0px 0px 0px 2px;
    position: absolute;
}

.clock-dig:after {
    content: "";
    width: 25px;
    height: 30px;
    left: -1px;
    top: 0px;
    border: #bbb solid;
    border-width: 0px 2px 0px 0px;
    position: absolute;
}

.notebook{
    float: left;
    position: absolute;
}
.notebook .screen:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: #a5adbd;
    height: 4px;
    width: 4px;
    margin: 5px 0 0 138px;
}
.notebook .screen{
    background: #fff;
    border-radius: 15px 15px 0 0;
    height: 185px;
    width: 280px;
    margin: 0 auto;

    border: #000 solid;
    border-width: 1px 1px 0 1px;
}
.notebook .screen:after{
    content: "";
    position: absolute;
    background: #161B21;
    height: 160px;
    width: 254px;
    border-radius: 2px;
    margin: 14px 0 0 13px;
    transition: background 1s ease-in-out;
}

.notebook .keyboard {
    background: #f4f5f7;
    border-radius: 5px 5px 25px 25px;
    height: 8px;
    width: 350px;
    margin: 0 auto;

    border: #000 1px solid;
}
.notebook .keyboard:after {
    content: "";
    position: absolute;
    background: #d8dbe1;
    height: 4px;
    width: 50px;
    margin: 0px 0px 0px 150px;
    border-radius: 0 0 8px 8px;

    border: #000 solid;
    border-width: 0 1px 1px 1px;
}
.notebook .keyboard:before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.2);
    height: 8px;
    width: 370px;
    margin: 7px 0px 0px -10px;
    z-index: -1;
    border-radius: 100%;
}

.notebook-sm {
    float: left;
    position: absolute;
    z-index: 1;
    right:5px;
}
.notebook-sm .screen:before {
    content: "";
    position: absolute;
    border-radius: 50%;
    background: #a5adbd;
    height: 1px;
    width: 1px;
    margin: 2px 0 0 41px;
}
.notebook-sm .screen{
    background: #fcfcfc;
    border-radius: 4px 4px 0 0;
    height: 56px;
    width: 84px;
    margin: 0 auto;
}
.notebook-sm .screen:after{
    content: "";
    position: absolute;
    background: #161B21;
    height: 48px;
    width: 76px;
    border-radius: 1px;
    margin: 4px 0 0 4px;
    transition: background 1s ease-in-out;
}

.notebook-sm .keyboard {
    background: #f4f5f7;
    border-radius: 1px 1px 8px 8px;
    height: 3px;
    width: 106px;
    margin: 0 auto;
}
.notebook-sm .keyboard:after {
    content: "";
    position: absolute;
    background: #d8dbe1;
    height: 2px;
    width: 15px;
    margin: 0px 0px 0px 45px;
    border-radius: 0 0 2px 2px;
}
.notebook-sm .keyboard:before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.2);
    height: 2px;
    width: 111px;
    margin: 2px 0px 0px -3px;
    z-index: -1;
    border-radius: 100%;
}
.notebook-sm .keyboard-top {
    border: solid;
    border-width: 0px 11px 3px 11px;
    border-color: #fff transparent;
    height: 3px;
    width: 106px;
    margin: 0 auto;
    position: relative;
}
.notebook-sm .keyboard-top:before {
    content: "";
    border: solid;
    border-width: 0px 7px 2px 7px;
    border-color: #ccc transparent;
    top: 0px;
    left: -2px;
    height: 2px;
    width: 88px;
    margin: 0 auto;
    position: absolute;
}


.coffee-sm {
    float: left;
    position: absolute;
    z-index: 1;
    right: 120px;
}

.coffee-sm .cup {
    width: 14px;
    height: 16px;
    background-color: #eed;
    margin: 0 auto;
    border-radius: 2px 2px 2px 2px;
}

.coffee-sm .cup:before {
    content: "";
    width: 6px;
    height: 16px;
    background-color: #eed;
    margin: 0 auto;
    border-radius: 0 0 0 100%;
    position: absolute;
    left: 3px;
}

.coffee-sm .cup:after {
    content: "";
    width: 6px;
    height: 16px;
    background-color: #eed;
    margin: 0 auto;
    border-radius: 0 0 100% 0;
    position: absolute;
    right: 3px;
}

.coffee-sm .top {
    width: 22px;
    top: -1px;
    left: 3px;
    height: 2px;
    background-color: #ddc;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
}

.coffee-sm .ear {
    width: 6px;
    height: 6px;
    float: right;
    right: -1px;
    top: 3px;
    position: absolute;
    z-index: -1;
    background-color: #eed;


    border-radius: 100%;
}

.coffee-sm .ear:before {
    content: "";
    width: 4px;
    height: 8px;
    border-radius: 50% 50% 50% 30%;
    background-color: #334;
    position: absolute;
    top: 1px;
    right: 3px;
    z-index: 1;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.coffee-sm .ear:after {
    content: "";
    width: 12px;
    height: 8px;
    top: 3px;
    right: 0px;
    background-color: #eed;
    margin: 0 auto;
    border-radius: 0 0 100% 0;
    position: absolute;
}

.coffee-sm .plate {
    width: 28px;
    height: 3px;
    border-radius: 30% 30% 50% 50%;
    background-color: #fff;
    margin: -1px auto;
}
.coffee-sm .plate:before {
    content: "";
    position: absolute;
    background-color: #eed;
    height: 3px;
    width: 12px;
    margin: -1px 0px 0px 8px;
    z-index: 0;
    border-radius: 40%;
}
.coffee-sm .plate:after {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.2);
    height: 3px;
    width: 34px;
    margin: 1px 0px 0px -3px;
    z-index: -1;
    border-radius: 50%;
}

.coffee-sm .steam {
    width: 7px;
    height: 7px;
    position: absolute;
    background-color: transparent;
    top: -20px;
    left: 10px;
    border: 2px solid;
    border-radius: 50%;
    border-color: transparent #ecb transparent transparent;

    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.coffee-sm .steam:after {
    content: "";
    width: 9px;
    height: 12px;
    top: 2px;
    left: -1px;
    position: absolute;
    background-color: transparent;
    border: 2px solid;
    border-radius: 0 0 4px 4px;
    border-color: transparent transparent #ecb #ecb;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.coffee-sm .steams {
    width: 6px;
    height: 8px;
    top: -12px;
    left: 16px;
    position: absolute;
    background-color: transparent;
    border: 2px solid;
    border-radius: 0 0 0 3px;
    border-color: transparent transparent #ecb #ecb;
    transform: rotate(64deg);
    -webkit-transform: rotate(64deg);
}

.coffee-sm .steams:after {
    content: "";
    width: 5px;
    height: 5px;
    top: 4px;
    left: 0px;
    position: absolute;
    background-color: transparent;
    border: 2px solid;
    border-radius:  0 2px 0 0;
    border-color: #ecb #ecb transparent transparent;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.guitar-sm {
    position: absolute;
    transform: rotate(-23deg);
    -webkit-transform: rotate(-23deg);
}

.guitar-sm .guitar-body {
    width: 80px;
    height: 100px;
    position: absolute;
}

.guitar-sm .guitar-body .shoulder{
    width: 60px;
    height: 28px;
    border-radius: 10px 10px 18px 18px;
    background-color: #fda;
    margin: auto;
    top: 2px;
    left: 10px;
    position: absolute;
}

.guitar-sm .guitar-body .shoulder:before {
    content: "";
    width: 50px;
    height: 8px;
    border-radius: 50%;
    background-color: #fda;
    margin: auto;
    top: -2px;
    left: 5px;
    position: absolute;
}

.guitar-sm .guitar-body .empty-l{
    width: 60px;
    height: 70px;
    border-radius: 50%;
    border: 20px solid;
    border-color:  transparent #fda transparent transparent;
    position: absolute;
    margin: auto;
    bottom: 33px;
    left: -25px;
    transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
}


.guitar-sm .guitar-body .empty-l:before{
    content: "";
    width: 10px;
    height: 40px;
    border-radius: 50%;
    background-color: #fda;
    position: absolute;
    margin: auto;
    bottom: -27px;
    left: 12px;
    transform: rotate(21deg);
    -webkit-transform: rotate(21deg);
}

.guitar-sm .guitar-body .empty-r{
    width: 60px;
    height: 70px;
    border-radius: 50%;
    border: 20px solid;
    border-color:  transparent transparent transparent #fda;
    position: absolute;
    margin: auto;
    bottom: 33px;
    right: -25px;
    transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
}


.guitar-sm .guitar-body .empty-r:before{
    content: "";
    width: 10px;
    height: 40px;
    border-radius: 50%;
    background-color: #fda;
    position: absolute;
    margin: auto;
    bottom: -27px;
    right: 12px;
    transform: rotate(-21deg);
    -webkit-transform: rotate(-21deg);
}

.guitar-sm .guitar-body .bottom{
    width: 80px;
    height: 60px;
    border-radius: 50% 50% 40% 40% ;
    background-color: #fda;
    position: absolute;
    margin: auto;
    bottom: 0px;
}

.guitar-sm .guitar-body .bottom:before {
    content: "";
    position: absolute;
    background: rgba(0,0,0,0.2);
    height: 2px;
    width: 120px;
    margin: 54px 0px 0px -48px;
    border-radius: 100%;
    z-index: -1;
    transform: rotate(23deg);
    -webkit-transform: rotate(23deg);
}


.guitar-sm .guitar-body .middle{
    width: 26px;
    height: 26px;
    border: 3px #ffd double;
    background-color: #211;
    border-radius: 50%;
    position: absolute;
    margin: auto;
    top: 18px;
    left: 27px;
    z-index: 1;
}

.guitar-sm .guitar-body .bridge{
    width: 30px;
    height: 5px;
    position: absolute;
    margin: auto;
    border-radius: 1px;
    top: 60px;
    left: 25px;
    background-color: #000;
}
.guitar-sm .guitar-body .bridge:before{
    content: "";
    width: 20px;
    height: 7px;
    left: 5px;
    position: absolute;
    margin: auto;
    border-radius: 50%;
    background-color: #000;
}

.guitar-sm .guitar-body .bridge:after {
    content: "";
    width: 16px;
    height: 1px;
    left: 7px;
    position: absolute;
    margin: auto;
    background-color: #eec;
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
    top: 1px;
}

.guitar-sm .guitar-neck {
    height: 240px;
    width: 12px;
    border: solid;
    border-color: transparent transparent #544 transparent;
    position: absolute;
    border-width: 0px 2px 120px 2px;
    top: -220px;
    left: 34px;
    z-index: 2;
}

.guitar-sm .guitar-head {
    width: 14px;
    height: 20px;
    background-color: #544;
    border-radius: 1px 1px 0 0;
    position: absolute;
    top: -105px;
    left: 33px;
}

.guitar-sm .guitar-head:before {
    content: "";
    height: 20px;
    width: 14px;
    border: solid;
    border-color: #544 transparent transparent transparent;
    position: absolute;
    border-width: 8px 3px 0px 3px;
    top: 20px;
    left: 0px;
}

.guitar-sm .guitar-head:after {
    content: "";
    width: 10px;
    height: 2px;
    background-color: #eec;
    position: absolute;
    top: 27px;
    left: 2px;
    z-index: 4;
}

.guitar-sm .guitar-string {
    position: absolute;
    z-index: 3;
}

.guitar-sm .guitar-string .turning{
    position: absolute;
    z-index: 4;
}

.guitar-sm .guitar-string .turning .turning {
    width: 2px;
    height: 3px;
    background-color: #ca0;
    position: absolute;
}

.guitar-sm .guitar-string .turning .turning:before {
    content: "";
    width: 1px;
    height: 1px;
    background-color: #db4;
    position: absolute;
}

.guitar-sm .guitar-string .turning .turning:after {
    content: "";
    width: 3px;
    height: 3px;
    background-color: #886;
    border: #db4 1px solid;
    border-radius: 50%;
    position: absolute;
}

.guitar-sm .guitar-string .turning .l {
    border-radius: 50% 0 0 50%;
    border: #fd6 solid;
    border-width: 1px 0px 0px 0px;
}

.guitar-sm .guitar-string .turning .l:before {
    top: 0px;
    left: 2px;
}

.guitar-sm .guitar-string .turning .l:after {
    top: -1px;
    left: 5px;
}

.guitar-sm .guitar-string .turning .r {
    border-radius: 0 50% 50% 0;
    border: #fd6 solid;
    border-width: 1px 0px 0px 0px;
}

.guitar-sm .guitar-string .turning .r:before {
    top: 0px;
    left: -1px;
}

.guitar-sm .guitar-string .turning .r:after {
    top: -1px;
    left: -6px;
}

.guitar-sm .guitar-string .turning .e {
    top: -89px;
    left: 30px;
}

.guitar-sm .guitar-string .turning .a {
    top: -94px;
    left: 30px;
}

.guitar-sm .guitar-string .turning .d {
    top: -99px;
    left: 30px;
}

.guitar-sm .guitar-string .turning .g {
    top: -99px;
    left: 48px;
}

.guitar-sm .guitar-string .turning .b {
    top: -94px;
    left: 48px;
}

.guitar-sm .guitar-string .turning .e-h {
    top: -89px;
    left: 48px;
}

.guitar-sm .guitar-string .string {
    top: -38px;
    opacity: 0.8;
    position: absolute;
}

.guitar-sm .guitar-string .string .string {
    width: 1px;
    height: 140px;
    background-color: #ba9;
    position: absolute;
}

.guitar-sm .guitar-string .string .string:before {
    content: "";
    width: 1px;
    background-color: #ba9;
    position: absolute;
}

.guitar-sm .guitar-string .string .e {
    left: 35px;
    transform: rotate(1deg);
    -webkit-transform: rotate(1deg);
}

.guitar-sm .guitar-string .string .e:before {
    top: -10px;
    left: 0px;
    height: 10px;
    transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
}

.guitar-sm .guitar-string .string .a {
    left: 36px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.guitar-sm .guitar-string .string .a:before {
    top: -16px;
    left: 1px;
    height: 16px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.guitar-sm .guitar-string .string .d {
    left: 38px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.guitar-sm .guitar-string .string .d:before {
    top: -22px;
    left: 0px;
    height: 22px;
    transform: rotate(-4deg);
    -webkit-transform: rotate(-4deg);
}

.guitar-sm .guitar-string .string .g {
    left: 40px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.guitar-sm .guitar-string .string .g:before {
    top: -22px;
    left: 1px;
    height: 22px;
    transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
}

.guitar-sm .guitar-string .string .b {
    left: 42px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.guitar-sm .guitar-string .string .b:before {
    top: -16px;
    left: 0px;
    height: 16px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.guitar-sm .guitar-string .string .e-h {
    left: 44px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}

.guitar-sm .guitar-string .string .e-h:before {
    top: -11px;
    left: -1px;
    height: 11px;
    transform: rotate(-6deg);
    -webkit-transform: rotate(-6deg);
}

.guitar-sm .guitar-string .pin .pin {
    width: 2px;
    height: 2px;
    background-color: #eec;
    border-radius: 50%;
    position: absolute;
}

.guitar-sm .guitar-string .pin .e {
    top: 63px;
    left: 34px;
}
.guitar-sm .guitar-string .pin .a {
    top: 63px;
    left: 36px;
}
.guitar-sm .guitar-string .pin .d {
    top: 63px;
    left: 38px;
}
.guitar-sm .guitar-string .pin .g {
    top: 63px;
    left: 40px;
}
.guitar-sm .guitar-string .pin .b {
    top: 63px;
    left: 42px;
}
.guitar-sm .guitar-string .pin .e-h {
    top: 63px;
    left: 44px;
}

.guitar-sm .guitar-neck .fret{
    height: 1px;
    background-color: #eec;
    position: absolute;
    opacity: 0.8;
}

.table-sm {
    height: 10px;
    width: 75%;
    background-color: #655;
    border-radius: 1px;
    right: 0px;
    position: absolute;
    z-index: 0;
}

.table-sm:before {
    content: "";
    width: 100%;
    height: 10px;
    bottom: 10px;
    border: solid;
    border-width: 0px 0px 10px 30px;
    border-color: transparent transparent #988 transparent;
    position: absolute;
}

.laser path {
    opacity:0.5;
    fill:#9bd;
    stroke:#bdf;
    stroke-width: 3px;
    stroke-miterlimit: 0;
    stroke-dasharray: 1000 1000;
    stroke-dashoffset: 0.00;
}

.laser {
    width: 320px;
    top: 10px;
    left: -8px;
    position: absolute;
    display: none;
    stroke-linejoin: round;
}

.text-update {
    position: absolute;
    bottom: 5px;
    width: 19px;
    fill: transparent;
    stroke: #ccc;
    stroke-width: 3px;
    stroke-dasharray: 250;
    stroke-dashoffset: 250;
    stroke-linejoin: bevel;
}
.text-u {
    right: calc(182px - 5 * 20px);
}
.text-p {
    right: calc(144px - 4 * 20px);
}
.text-d {
    right: calc(110px - 3 * 20px);
}
.text-a {
    right: calc(73px - 2 * 20px);
}
.text-t {
    right: calc(34px - 1 * 20px);
}
.text-e {
    right: calc(2px - 0 * 20px);
}

.watching-tip {
    position: absolute;
    right: 0px;
    margin-top: 60px;
    width: 240px;
    height: 30px;
    background-color: #000;
    border-radius: 2px 0 0 2px;
    opacity: 0.9;
}
.watching-tip:before {
    content: "";
    width: 3px;
    height: 18px;
    position: absolute;
    top: 7px;
    left: 5px;
    background-color: #387;
}

.message-window, .message-window-bg {
    position: absolute;
    top: 60px;
    right: 5%;
    background-color: transparent;
    width: 85%;
    overflow: scroll;
    height: calc(95% - 98px);
    border-radius: 3px;
    opacity: 1;
}

.message-window-bg {
    background-color: #000;
    opacity: 0.5;
}

.message-panel {
    padding: 10px 0;
    margin-top: 10px;
    z-index: 4;
}

.message-panel:before {
    content: "";
    width: 8px;
    height: auto;
    background-color: #fa6;
    margin-top: 10px;
    z-index: 4;
}

.message-receive {

}

.message-send {

}

.message-title {
}

.message-content {
}