<!DOCTYPE html>
<html>
<head>
    <link rel=”icon” href=”/favicon.ico” type=”image/x-icon”>
    <title>MyDorm - <%= title %></title>
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/stylesheets/admin/login.css">
</head>

<body>
    <form method="POST">
        <input name="password" />
    </form>
</body>
</html>