<% include header_m.ejs %>

<!--mine-->
<script src="/javascripts/time.js"></script>
<script src="/javascripts/index_m/init.js"></script>
<script src="/javascripts/index_m/pageTab.js"></script>


<link rel="stylesheet" href="/stylesheets/header_m.css">
<link rel="stylesheet" href="/stylesheets/image.css">
<script>
    (
            function(){

            }
    )();


    $(document).ready(function () {
        init("<%= title %>")
    });

</script>

<nav id="topbar" class="navbar navbar-inverse">
    <div class = "navbar-brand" href = "#" style="float: left; width: 15%">
        <span class="moreBtn">
            <span class="page" id="page-l"></span>
            <span class="page" id="page-m"></span>
            <span class="page" id="page-r"></span>
        </span>
    </div>
    <span class="title">
        <div class="title">MyDorm</div>
        <div class="subtitle"></div>
    </span>
    <div class = "navbar-brand" href = "#" style="float: right;width: 15%; margin-right: 0px;">
        <div class = "clock" style="display: none">
            <div class = "dial"></div>
            <div class = "minute"></div>
            <div class = "hour"></div>
        </div>
        <div class="clock-dig">
            <div class="hour"></div>
            <div class="minute"></div>
            <style></style>
        </div>
    </div>
</nav>

<div class="wall"></div>

<div id="display">
    <div id="home" class="section">
        <% include home.ejs %>
    </div>

    <div id="watching" class="section">
        <% include watching.ejs %>
    </div>

    <div id="control" class="section">
        <% include control.ejs %>
    </div>

    <div id="message" class="section">
        <% include message.ejs %>
    </div>

    <div id="shedule" class="section">
        <% include schedule.ejs %>
    </div>


    <div id="list" class="section">
        <% include list.ejs %>
    </div>

</div>

<div class="bottom-bar">
    <div class="bottom-bg"></div>
    <div class="bottom-deco"></div>
    <div class="bottom-button bottom-left-button"></div>
    <div class="bottom-button bottom-right-button"></div>
    <div class="bottom-page-bar">
        <% var listGroupName = ['Home', 'Watching', 'Control', 'Message', 'Schedule', 'Leisure', 'About'] %>
        <% for (var item in listGroupName) { %>
        <div class="bottom-page-bar-item"></div>
        <% } %>
    </div>

    <script>
        $('.bottom-left-button').click(function() {
            if (pageTabber.pageNowIndex == 0)
                pageTabber.tabTo(pageTabber.pageNowIndex - 2);
            else
                pageTabber.tabTo(pageTabber.pageNowIndex - 1);
        });

        $('.bottom-right-button').click(function() {
            if (pageTabber.pageNowIndex + 2 == pageTabber.pageLen)
                pageTabber.tabTo(pageTabber.pageNowIndex + 2);
            else
                pageTabber.tabTo(pageTabber.pageNowIndex + 1);
        })
    </script>
</div>

<% include ../footer.ejs %>
