<script src="/javascripts/index_m/list.js"></script>

<ul class="list-group">
    <% var listGroupName = ['Home', 'Watching', 'Control', 'Message', 'Schedule', 'Leisure', 'About'] %>
    <% for (var item in listGroupName) { %>
    <li class="list-group-item">
        &nbsp;
        <div></div>
        <a href="javascript:void(pageTabber.tabTo(<%= item %>))">
            <%= listGroupName[item] %>
        </a>
    </li>
    <% } %>
</ul>
