<script src="/javascripts/index_m/message.js"></script>

<div class="message-window-bg"></div>
<div class="message-window">

    <div class="message-panel message-receive">
        <div class="message-title">
            LeoBai
        </div>
        <div class="message-content">
            This is a text message.
        </div>
    </div>

    <div class="message-panel message-send">
        <div class="message-title">
            LeoBai
        </div>
        <div class="message-content">
            This is a text message.
        </div>
    </div>

</div>