doctype html
html
    head
        //<link rel=”icon” href=”/dir/favicon.ico” mce_href=”/dir/favicon.ico” type=”image/x-icon”>
        link(rel='icon' href='/images/icon.ico' type='image/x-icon')
        title MyDorm - #{title}
        link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
        script(src='//cdn.bootcss.com/jquery/1.11.3/jquery.min.js')
        script(src='//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js')

        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/init.js')
        script(src='/javascripts/resize.js')
        script(src='/javascripts/moveWithMouse.js')

    body(onload = 'init()' onmousemove = 'moveWithMouse()' onresize = 'bgResize()')
        div#bodyback.bodyback
        div#bodytop.bodytop
            nav#topbar.navbar.navbar-inverse.transparentBar
                div(class = 'col-md-1 col-sm-0')
                div(class = 'col-md-10 col-sm-12')
                    a(class = 'navbar-brand', href = '#')
                        span#homeIcon.glyphicon.glyphicon-home(aria-hidden='true')
                    a(class = 'navbar-brand', href = '#') Watching
                    a(class = 'navbar-brand', href = '#') Control
                    a(class = 'navbar-brand', href = '#') Message
                    a(class = 'navbar-brand', href = '#') Schedule
                    a(class = 'navbar-brand', style = 'margin-right:0%', href = '#') Leisure
                    div(class = 'navbar-brand')
                        div#clock(style = 'float:right;')
                        span#timeIcon.glyphicon.glyphicon-time(aria-hidden='true')
                        div#greeting(style = 'float:right;')
                div(class = 'col-lg-1 col-md-0')


        div#bodyfront.bodyfront
            div
                center#title.title My Dorm
                center#subtitle.title.subtitle A Room Control System
                div#out

        div

            center#copyright(style = 'color: transparent;')
                h5 Designed by Leo Bai, Tongji University.
                h5 Copyright © 2016-2016 Softech. All Rights Reserved.

        //div#night(name = night style = 'height: 5px; color: #fff; width: 100px;position: absolute;')

